VITE_SITE_URL=https://chart-empire.example.com
VITE_GAME_TITLE=Chart Empire
VITE_XING_RECORDS_URL=https://www.xingrecords.com
VITE_INDIE_MUSIC_PROMOTION_URL=https://www.indiemusicpromotion.com
VITE_SONG_OF_WEEK_YOUTUBE_ID=
VITE_SONG_OF_WEEK_TITLE=Song of the Week
VITE_SONG_OF_WEEK_ARTIST=Xing Records
VITE_SONG_OF_WEEK_URL=https://www.xingrecords.com
VITE_TURNSTILE_SITE_KEY=
VITE_ADSTERRA_ENABLED=false
VITE_ADSTERRA_DEV_MODE=true
VITE_ADSTERRA_BANNER_ID=
VITE_ADSTERRA_NATIVE_ID=
VITE_ADSTERRA_INTERSTITIAL_ID=
VITE_ADSTERRA_SOCIALBAR_ID=
VITE_ADSTERRA_SMARTLINK_URL=
VITE_ANALYTICS_ENABLED=false

# Configure as Cloudflare secrets, never as VITE_ variables:
# TURNSTILE_SECRET_KEY
# SESSION_SECRET
# PASSWORD_PEPPER
# ADMIN_SECRET
